.gitconfig

# build folders
**/debug
**/release

# makefiles
.qmake.stash
**/object_script.*.Release
**/object_script.*.Debug
**/Makefile*

# Qt unit tests
**/target_wrapper.*
**/ui*.h

# Qt Creator config file
*.pro.user

# Database files
**/*.db
.DS_Store
